<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Ibone
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">QQ交流群: 878224604</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我要进入&gt;&gt; <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://sys-admin.ibone.com:20002/">系统管理</a></li>
                        <li><a href="http://tag-admin.ibone.com:40002/">标签管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="http://sm-admin.ibone.com:10002/">服务管理系统</a></li>
                        <li><a href="http://sm-monitor.ibone.com:10003/">调用链追踪系统</a></li>
                        <li><a href="http://sm-register.ibone.com:10001/">服务注册中心</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="http://cas-manager.ibone.com:30002/">服务授权系统</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script th:src="@{/bootstrap-3.3.7/js/bootstrap.min.js}"></script>