<div class="well well-lg hidden-xs">
    <h3>Ibone系统列表:</h3>
    <ul class="list-group">
        <!--<li class="list-group-item">-->
            <!--<a href="http" >-->
                <!--<i class="fa fa-cogs"></i> [[#{cas.login.resources.dashboard}]]-->
            <!--</a>-->
        <!--</li>-->
        <li class="list-group-item">
            <a href="http://sm-monitor.ibone.com:10003/" >
                <i class="fa fa-cogs"></i> Ibone监控系统
            </a>
        </li>
        <li class="list-group-item">
            <a href="http://sm-admin.ibone.com:10002/" >
                <i class="fa fa-cogs"></i> Ibone服务管理系统
            </a>
        </li>

        <li class="list-group-item">
            <a href="http://cas-manager.ibone.com:30002/" >
                <i class="fa fa-cogs"></i> Ibone CAS管理
            </a>
        </li>

        <li class="list-group-item">
            <a href="http://sys-admin.ibone.com:20002/" >
                <i class="fa fa-cogs"></i> Ibone系统管理
            </a>
        </li>

    </ul>
</div>
